<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpp.and.thirukkural">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.jpp.and.thirukkural.ThirukkuralApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_application_id"/>

        <activity
            android:name="com.jpp.and.thirukkural.SectionsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.thirukuralLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jpp.and.thirukkural.ChapterActivity"
            android:label="@string/chapter"
            android:launchMode="singleTop"
            android:parentActivityName="com.jpp.and.thirukkural.SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and.thirukkural.SectionsActivity" />
        </activity>
        <activity
            android:name="com.jpp.and.thirukkural.CoupletSwipeActivity"
            android:label="@string/couplet_detail"
            android:launchMode="standard"
            android:parentActivityName="com.jpp.and.thirukkural.ChapterActivity"
            android:theme="@style/AppTheme.thirukuralLauncher">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and.thirukkural.ChapterActivity" />
        </activity>
        <activity
            android:name="com.jpp.and.thirukkural.AboutThirukkuralActivity"
            android:label="@string/about_thirukkural"
            android:parentActivityName="com.jpp.and.thirukkural.SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and.thirukkural.SectionsActivity" />
        </activity>
        <activity
            android:name="com.jpp.and.thirukkural.FavoritesActivity"
            android:label="@string/fav_couplets"
            android:parentActivityName="com.jpp.and.thirukkural.SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and.thirukkural.ChapterActivity" />
        </activity>
        <activity
            android:name="com.jpp.and.thirukkural.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.jpp.and.thirukkural.SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and.thirukkural.SectionsActivity" />
        </activity>
        <activity android:name="com.jpp.and.thirukkural.ThirukkuralBaseActivity" />
        <activity
            android:name="com.jpp.and.thirukkural.SearchActivity"
            android:label="@string/search"
            android:launchMode="singleTop"
            android:parentActivityName="com.jpp.and.thirukkural.SectionsActivity" />

        <provider
            android:name="com.jpp.and.thirukkural.provider.ThirukkuralContentProvider"
            android:authorities="com.jpp.and.thirukkural"
            android:enabled="true"
            android:permission="@string/signature"
            android:exported="false" />

        <activity
            android:name="com.jpp.and.thirukkural.PartListActivity"
            android:label="@string/parts"
            android:parentActivityName="com.jpp.and.thirukkural.SectionsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.jpp.and.thirukkural.PartDetailActivity"
            android:label="@string/chapters"
            android:parentActivityName="com.jpp.and.thirukkural.PartListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and.thirukkural.PartListActivity" />
        </activity>
        <activity
            android:name="com.jpp.and.thirukkural.ChaptersListActivity"
            android:label="@string/chapters"
            android:parentActivityName="com.jpp.and.thirukkural.SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and.thirukkural.SectionsActivity" />
        </activity>

        <receiver android:name="com.jpp.and.thirukkural.ThirukkuralWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/thirukkural_widget_info" />
        </receiver>
    </application>

</manifest>