<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpp.and_thirukkural">

    <application
        android:name=".ThirukkuralApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SectionsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.thirukuralLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChapterActivity"
            android:label="@string/chapter"
            android:launchMode="singleTop"
            android:parentActivityName=".SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SectionsActivity" />
        </activity>
        <activity
            android:name=".CoupletSwipeActivity"
            android:label="@string/couplet_detail"
            android:launchMode="standard"
            android:parentActivityName=".ChapterActivity"
            android:theme="@style/AppTheme.thirukuralLauncher">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChapterActivity" />
        </activity>
        <activity
            android:name=".AboutThirukkuralActivity"
            android:label="@string/about_thirukkural"
            android:parentActivityName=".SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SectionsActivity" />
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/fav_couplets"
            android:parentActivityName=".SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and_thirukkural.ChapterActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and_thirukkural.SectionsActivity" />
        </activity>
        <activity android:name=".ThirukkuralBaseActivity" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/search"
            android:launchMode="singleTop"
            android:parentActivityName=".SectionsActivity" />

        <provider
            android:name=".provider.ThirukkuralContentProvider"
            android:authorities="com.jpp.and_thirukkural"
            android:enabled="true"
            android:permission="@string/signature"
            android:exported="false" />

        <activity
            android:name=".PartListActivity"
            android:label="@string/parts"
            android:parentActivityName=".SectionsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PartDetailActivity"
            android:label="@string/chapters"
            android:parentActivityName=".PartListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and_thirukkural.PartListActivity" />
        </activity>
        <activity
            android:name=".ChaptersListActivity"
            android:label="@string/chapters"
            android:parentActivityName=".SectionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpp.and_thirukkural.SectionsActivity" />
        </activity>

        <receiver android:name=".ThirukkuralWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/thirukkural_widget_info" />
        </receiver>
    </application>

</manifest>